.blue-text {
  color: blue;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  text-align: start;
}
.Scopes-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.main-cell {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 100%;
  border: 15px solid blue;
}
.border-fake {
  margin-top: 30px;
  border: 10px solid blue;
  width: 100%;
}
.icon-user {
  font-size: 40px;
}
.dots {
  width: 55px;
  height: 40px;
  padding: 5px;
  padding-left: 9px;
  background-color: rgb(150, 101, 207);
  border: 1px solid brown;
  border-radius: 50%;
  color: white;
}
.Primary-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
